extends layout

block content
  div#mocha
    h1= title
  script(src='/mocha/mocha.js')
  script(src='chai/chai.js')
  script expect = chai.expect;
  script mocha.setup('bdd');
  script(src='#{dirName}/test.js')
  script $(mocha.run());
