body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.code {
  width: 45%;
  float: left;
}
.tests {
  width: 45%;
  float: left;
}
button {
  text-align: center;
  width: 6em;
  margin: auto;
}
